extends layout

block content
  h1(class="title")= title
  ul
    each vehicle_instance in vehicle_instance_list
      li
        a(href = `/catalog/vehicle-instances/${vehicle_instance._id}`)
            h2 #{vehicle_instance.vehicle.type} (#{vehicle_instance.status})
