extends layout

block content
  h1(class="title")= title
  ul
    each vehicle_instance in vehicle_instance_list
      li
        h2 #{vehicle_instance.vehicle.type}
        p id: #{vehicle_instance._id}
        p Status: #{vehicle_instance.status}
