extends layout

block content
  h1(class="title")= title
  ul
    each vehicle in vehicle_list
      li
        a(href=`/catalog/vehicle-types/${vehicle._id}`)
            h2 #{vehicle.type}
        
